window {
margin: 0px;
/*border: 1px solid #bd93f9;*/
border: 1px solid #b48ead;
background-color: #282a36;    
font-family: "JetBrains Mono", monospace;
font-size: 14pt;
color: #65D948;
}

#input {
margin: 5px;
border: none;
/*color: #65D948;*/
background-color: #44475a;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282a36;
/*color: #65D948;*/
}

#outer-box {
margin: 5px;
border: none;
background-color: #282a36;
/*color: #65D948;*/
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
/*color: #f8f8f2;*/
} 

#entry.activatable #text {
/*color: #282a36;*/
}

#entry > * {
/*color: #f8f8f2;*/
}

#entry:selected {
background-color: #44475a;
/*color: #f8f8f2;*/
}

#entry:selected #text {
font-weight: bold;
/*color: #f8f8f2;*/
}
